api:
  mood-entry:
    path: "/api/addMood"
server:
  port: 8080
spring:
  application:
    name: "MoodRadar"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  data:
    mongodb:
      uri: "mongodb://root:example@localhost:27017/MoodRadar?authSource=admin"
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
